<launch>
    <!-- This node will launch MAVROS -->
    <include file="$(find mavros)/launch/apm.launch"/>
    <rosparam param="mavros/system_id">1</rosparam>
    <rosparam param="mavros/component_id">240</rosparam>
    <rosparam param="mavros/fcu_url">/dev/ttyACM0:921600</rosparam>

    <param name="/rasendriya/loop_rate" value="35" />
    <param name="/rasendriya/heading" value="166" />
    <node name="mission_control" pkg="rasendriya" type="test_waypoint" output="screen">
        <param name="/rasendriya/camera/focal_length/x" value="334.92037641" />
        <param name="/rasendriya/camera/focal_length/y" value="339.2902151" />
        <param name="/rasendriya/camera/principal_point/x" value="96.54226547" />
        <param name="/rasendriya/camera/principal_point/y" value="86.7182241" />
        
        <param name="/rasendriya/wp_drop_first" value="9" />
        <param name="/rasendriya/wp_drop_second" value="15" />
        <param name="/rasendriya/wp_prepare_scan" value="3" />
    </node>


           
</launch>
